.del{
    position: absolute;
    z-index: 100;
    font-size: 18px;
    font-weight: bolder;
    font-family: fantasy;
    padding: 260px;
    margin-left: 465px;
}

.r,.p{
    font-weight: bolder;
    margin-left: 15px;
    font-size: 13px;
    font-family: fantasy
    
}
.p{
    margin-top: 29px !important;
    margin-left:76px;
    background-color: aquamarine
}
.p:hover{
    background-color: rgb(165, 219, 233);
}